<a href="https://cognitiveclass.ai/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkRP0321ENSkillsNetwork25371262-2021-01-01">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0101EN-Coursera/v2/M1_R_Basics/images/IDSNlogo.png" width="200" align="center">
</a>

<h1>Data Wrangling with Regular Expressions</h1>

Estimated time needed: **40** minutes

## Lab Overview:

In the previous data collection labs, you collected some raw datasets from several different sources. In this lab, you need to perform data wrangling tasks in order to improve data quality.

You will again use regular expressions, along with the `stringr` package (part of `tidyverse`), to clean up the bike-sharing systems data that you previously web scraped from the wiki page:

https://en.wikipedia.org/wiki/List_of_bicycle-sharing_systems

<a href="https://cognitiveclass.ai/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkRP0321ENSkillsNetwork25371262-2021-01-01">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/module_1/images/l2-list-bike-sharing-systems.png" width="800" align="center">
</a>

One typical challenge of web scraping is that data extracted from HTML pages may contain unnecessary or inconsistently fomatted information.\
For example:

*   Textual annotations in numeric fields: `1000 (Updated with 1050)`
*   Attached reference links: `Bike sharing system [123]`
*   Inconsistent data formats: `Yes` and `Y` for the logical value `TRUE` or `2021-04-09` and `Apr 09, 2021` for the same date
*   HTML style tags: `<span style="color:blue">Bike sharing system</span>`
*   Special characters: `&nbsp` for a white space

Many more such examples of noise may be encountered in real-world scraped data and most of such text related noises could be handled by regular expressions.

To summarize, you will be using `stringr` (part of `tidyverse`) and regular expressions to perform the following data wrangling tasks:

*   TASK: Standardize column names for all collected datasets
*   TASK: Remove undesired reference links from the scraped bike-sharing systems dataset
*   TASK: Extract only the numeric value from undesired text annotations

Let's begin by importing the libraries you will use for these data wrangling tasks.

In [1]:
# Check whether you need to install the `tidyverse` library
require("tidyverse")
library(tidyverse)

Loading required package: tidyverse
Registered S3 method overwritten by 'rvest':
  method            from
  read_xml.response xml2
-- Attaching packages --------------------------------------- tidyverse 1.2.1 --
v ggplot2 3.3.5     v purrr   0.3.4
v tibble  3.1.1     v dplyr   1.0.6
v tidyr   1.1.3     v stringr 1.4.0
v readr   1.3.1     v forcats 0.4.0
Warning message:
"package 'tibble' was built under R version 3.6.3"Warning message:
"package 'tidyr' was built under R version 3.6.3"Warning message:
"package 'purrr' was built under R version 3.6.3"Warning message:
"package 'dplyr' was built under R version 3.6.3"-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

## TASK: Standardize column names for all collected datasets

In the previous data collection labs, you collected four datasets in csv format:

*   `raw_bike_sharing_systems.csv`:  A list of active bike-sharing systems across the world
*   `raw_cities_weather_forecast.csv`: 5-day weather forecasts for a list of cities, from OpenWeather API
*   `raw_worldcities.csv`: A list of major cities' info (such as name, latitude and longitude) across the world
*   `raw_seoul_bike_sharing.csv`: Weather information (Temperature, Humidity, Windspeed, Visibility, Dewpoint, Solar radiation, Snowfall, Rainfall), the number of bikes rented per hour, and date information, from Seoul bike-sharing systems

*Optional:* If you had some difficulties finishing the data collection labs, you may download the datasets directly from the following URLs:

In [2]:
# Download raw_bike_sharing_systems.csv
url <- "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/raw_bike_sharing_systems.csv"
download.file(url, destfile = "raw_bike_sharing_systems.csv")

# Download raw_cities_weather_forecast.csv
url <- "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/raw_cities_weather_forecast.csv"
download.file(url, destfile = "raw_cities_weather_forecast.csv")

# Download raw_worldcities.csv
url <- "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/raw_worldcities.csv"
download.file(url, destfile = "raw_worldcities.csv")

# Download raw_seoul_bike_sharing.csv
url <- "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/raw_seoul_bike_sharing.csv"
download.file(url, destfile = "raw_seoul_bike_sharing.csv")

To improve dataset readbility by both human and computer systems, we first need to standardize the column names of the datasets above using the following naming convention:

*   Column names need to be UPPERCASE
*   The word separator needs to be an underscore, such as in `COLUMN_NAME`

You can use the following dataset list and the `names()` function to get and set each of their column names, and convert them according to our defined naming convention.

In [3]:
dataset_list <- c('raw_bike_sharing_systems.csv', 'raw_seoul_bike_sharing.csv', 'raw_cities_weather_forecast.csv', 'raw_worldcities.csv')

*TODO*: Write a `for` loop to iterate over the above datasets and convert their column names

In [4]:
for (dataset_name in dataset_list){
    # Read dataset
    dataset <- read_csv(dataset_name)
    # Standardized its columns:
    
    # Convert all column names to uppercase
    names(dataset) <- toupper(names(dataset))
    # Replace any white space separators by underscores, using the str_replace_all function
    names(dataset) <- str_replace_all(names(dataset), " ", "_")
    
    # Save the dataset 
    write.csv(dataset, dataset_name, row.names=FALSE)
}

Parsed with column specification:
cols(
  COUNTRY = col_character(),
  City = col_character(),
  Name = col_character(),
  SYSTEM = col_character(),
  OPERATOR = col_character(),
  LAUNCHED = col_character(),
  DISCONTINUED = col_character(),
  STATIONS = col_character(),
  BICYCLES = col_character(),
  DAILY_RIDERSHIP = col_character()
)
Parsed with column specification:
cols(
  Date = col_character(),
  RENTED_BIKE_COUNT = col_double(),
  Hour = col_double(),
  TEMPERATURE = col_double(),
  HUMIDITY = col_double(),
  WIND_SPEED = col_double(),
  Visibility = col_double(),
  DEW_POINT_TEMPERATURE = col_double(),
  SOLAR_RADIATION = col_double(),
  RAINFALL = col_double(),
  Snowfall = col_double(),
  SEASONS = col_character(),
  HOLIDAY = col_character(),
  FUNCTIONING_DAY = col_character()
)
Parsed with column specification:
cols(
  city = col_character(),
  weather = col_character(),
  visibility = col_double(),
  temp = col_double(),
  temp_min = col_double(),
  temp_max = col_double(),
  pressure = col_double(),
  humidity = col_double(),
  wind_speed = col_double(),
  wind_deg = col_double(),
  season = col_character(),
  forecast_datetime = col_datetime(format = "")
)
Parsed with column specification:
cols(
  City = col_character(),
  CITY_ASCII = col_character(),
  LAT = col_double(),
  LNG = col_double(),
  COUNTRY = col_character(),
  ISO2 = col_character(),
  ISO3 = col_character(),
  ADMIN_NAME = col_character(),
  CAPITAL = col_character(),
  POPULATION = col_double(),
  ID = col_double()
)

*TODO*: Read the resulting datasets back and check whether their column names follow the naming convention

In [5]:
for (dataset_name in dataset_list){
    # Print a summary for each data set to check whether the column names were correctly converted
    dataset <- read_csv(dataset_name)
    print(summary(dataset))
}

Parsed with column specification:
cols(
  COUNTRY = col_character(),
  CITY = col_character(),
  NAME = col_character(),
  SYSTEM = col_character(),
  OPERATOR = col_character(),
  LAUNCHED = col_character(),
  DISCONTINUED = col_character(),
  STATIONS = col_character(),
  BICYCLES = col_character(),
  DAILY_RIDERSHIP = col_character()
)

   COUNTRY              CITY               NAME              SYSTEM
 Length:480         Length:480         Length:480         Length:480
 Class :character   Class :character   Class :character   Class :character
 Mode  :character   Mode  :character   Mode  :character   Mode  :character
   OPERATOR           LAUNCHED         DISCONTINUED         STATIONS
 Length:480         Length:480         Length:480         Length:480
 Class :character   Class :character   Class :character   Class :character
 Mode  :character   Mode  :character   Mode  :character   Mode  :character
   BICYCLES         DAILY_RIDERSHIP
 Length:480         Length:480
 Class :character   Class :character
 Mode  :character   Mode  :character

Parsed with column specification:
cols(
  DATE = col_character(),
  RENTED_BIKE_COUNT = col_double(),
  HOUR = col_double(),
  TEMPERATURE = col_double(),
  HUMIDITY = col_double(),
  WIND_SPEED = col_double(),
  VISIBILITY = col_double(),
  DEW_POINT_TEMPERATURE = col_double(),
  SOLAR_RADIATION = col_double(),
  RAINFALL = col_double(),
  SNOWFALL = col_double(),
  SEASONS = col_character(),
  HOLIDAY = col_character(),
  FUNCTIONING_DAY = col_character()
)

     DATE           RENTED_BIKE_COUNT      HOUR        TEMPERATURE
 Length:8760        Min.   :   2.0    Min.   : 0.00   Min.   :-17.80
 Class :character   1st Qu.: 214.0    1st Qu.: 5.75   1st Qu.:  3.40
 Mode  :character   Median : 542.0    Median :11.50   Median : 13.70
                    Mean   : 729.2    Mean   :11.50   Mean   : 12.87
                    3rd Qu.:1084.0    3rd Qu.:17.25   3rd Qu.: 22.50
                    Max.   :3556.0    Max.   :23.00   Max.   : 39.40
                    NA's   :295                       NA's   :11
    HUMIDITY       WIND_SPEED      VISIBILITY   DEW_POINT_TEMPERATURE
 Min.   : 0.00   Min.   :0.000   Min.   :  27   Min.   :-30.600
 1st Qu.:42.00   1st Qu.:0.900   1st Qu.: 940   1st Qu.: -4.700
 Median :57.00   Median :1.500   Median :1698   Median :  5.100
 Mean   :58.23   Mean   :1.725   Mean   :1437   Mean   :  4.074
 3rd Qu.:74.00   3rd Qu.:2.300   3rd Qu.:2000   3rd Qu.: 14.800
 Max.   :98.00   Max.   :7.400   Max.   :2000   Max.   : 27.200

 SOLAR_RADIATION     RAINFALL          SNOWFALL         SEASONS
 Min.   :0.0000   Min.   : 0.0000   Min.   :0.00000   Length:8760
 1st Qu.:0.0000   1st Qu.: 0.0000   1st Qu.:0.00000   Class :character
 Median :0.0100   Median : 0.0000   Median :0.00000   Mode  :character
 Mean   :0.5691   Mean   : 0.1487   Mean   :0.07507
 3rd Qu.:0.9300   3rd Qu.: 0.0000   3rd Qu.:0.00000
 Max.   :3.5200   Max.   :35.0000   Max.   :8.80000

   HOLIDAY          FUNCTIONING_DAY
 Length:8760        Length:8760
 Class :character   Class :character
 Mode  :character   Mode  :character

Parsed with column specification:
cols(
  CITY = col_character(),
  WEATHER = col_character(),
  VISIBILITY = col_double(),
  TEMP = col_double(),
  TEMP_MIN = col_double(),
  TEMP_MAX = col_double(),
  PRESSURE = col_double(),
  HUMIDITY = col_double(),
  WIND_SPEED = col_double(),
  WIND_DEG = col_double(),
  SEASON = col_character(),
  FORECAST_DATETIME = col_datetime(format = "")
)

     CITY             WEATHER            VISIBILITY         TEMP
 Length:160         Length:160         Min.   : 9940   Min.   : 3.810
 Class :character   Class :character   1st Qu.:10000   1st Qu.: 9.748
 Mode  :character   Mode  :character   Median :10000   Median :12.765
                                       Mean   :10000   Mean   :13.505
                                       3rd Qu.:10000   3rd Qu.:16.747
                                       Max.   :10000   Max.   :26.130
    TEMP_MIN         TEMP_MAX         PRESSURE       HUMIDITY
 Min.   : 3.810   Min.   : 3.810   Min.   : 954   Min.   :17.00
 1st Qu.: 9.725   1st Qu.: 9.953   1st Qu.:1016   1st Qu.:37.00
 Median :12.765   Median :12.765   Median :1019   Median :49.00
 Mean   :13.444   Mean   :13.539   Mean   :1018   Mean   :49.92
 3rd Qu.:16.635   3rd Qu.:16.977   3rd Qu.:1022   3rd Qu.:62.00
 Max.   :26.130   Max.   :26.130   Max.   :1028   Max.   :94.00
   WIND_SPEED       WIND_DEG        SEASON
 Min.   :0.180   Min.   :  2.0   Length:160
 1st Qu.:1.455   1st Qu.: 92.0   Class :character
 Median :2.130   Median :141.0   Mode  :character
 Mean   :2.778   Mean   :163.7
 3rd Qu.:3.723   3rd Qu.:256.8
 Max.   :8.180   Max.   :352.0
 FORECAST_DATETIME
 Min.   :2021-04-16 12:00:00
 1st Qu.:2021-04-17 17:15:00
 Median :2021-04-18 22:30:00
 Mean   :2021-04-18 22:30:00
 3rd Qu.:2021-04-20 03:45:00
 Max.   :2021-04-21 09:00:00

Parsed with column specification:
cols(
  CITY = col_character(),
  CITY_ASCII = col_character(),
  LAT = col_double(),
  LNG = col_double(),
  COUNTRY = col_character(),
  ISO2 = col_character(),
  ISO3 = col_character(),
  ADMIN_NAME = col_character(),
  CAPITAL = col_character(),
  POPULATION = col_double(),
  ID = col_double()
)

     CITY            CITY_ASCII             LAT              LNG
 Length:26569       Length:26569       Min.   :-54.93   Min.   :-179.5900
 Class :character   Class :character   1st Qu.: 27.92   1st Qu.: -78.7794
 Mode  :character   Mode  :character   Median : 40.22   Median :  -0.7689
                                       Mean   : 33.10   Mean   : -11.3639
                                       3rd Qu.: 47.99   3rd Qu.:  29.6833
                                       Max.   : 81.72   Max.   : 179.3667

   COUNTRY              ISO2               ISO3            ADMIN_NAME
 Length:26569       Length:26569       Length:26569       Length:26569
 Class :character   Class :character   Class :character   Class :character
 Mode  :character   Mode  :character   Mode  :character   Mode  :character




   CAPITAL            POPULATION             ID
 Length:26569       Min.   :       0   Min.   :1.004e+09
 Class :character   1st Qu.:    9246   1st Qu.:1.277e+09
 Mode  :character   Median :   20080   Median :1.643e+09
                    Mean   :  162346   Mean   :1.556e+09
                    3rd Qu.:   59369   3rd Qu.:1.840e+09
                    Max.   :37977000   Max.   :1.934e+09
                    NA's   :973

## Process the web-scraped bike sharing system dataset

By now we have standardized all column names. Next, we will focus on cleaning up the values in the web-scraped bike sharing systems dataset.

In [6]:
# First load the dataset
bike_sharing_df <- read_csv("raw_bike_sharing_systems.csv")

Parsed with column specification:
cols(
  COUNTRY = col_character(),
  CITY = col_character(),
  NAME = col_character(),
  SYSTEM = col_character(),
  OPERATOR = col_character(),
  LAUNCHED = col_character(),
  DISCONTINUED = col_character(),
  STATIONS = col_character(),
  BICYCLES = col_character(),
  DAILY_RIDERSHIP = col_character()
)

In [7]:
# Print its head
head(bike_sharing_df)

  COUNTRY   CITY                  NAME                 SYSTEM
1 Albania   Tirana                Ecovolis             NA
2 Argentina Mendoza               Metrobici            NA
3 Argentina San Lorenzo, Santa Fe Biciudad             Biciudad
4 Argentina Buenos Aires          Ecobici              Serttel Brasil
5 Argentina Rosario               Mi Bici Tu Bici[11]  NA
6 Australia Melbourne[12]         Melbourne Bike Share PBSC & 8D
  OPERATOR                       LAUNCHED         DISCONTINUED         STATIONS
1 NA                             March 2011       NA                   8
2 NA                             2014             NA                   2
3 NA                             27 November 2016 NA                   8
4 Bike In Baires Consortium.[10] 2010             NA                   400
5 NA                             2 December 2015  NA                   47
6 Motivate                       June 2010        30 November 2019[13] 53
  BICYCLES DAILY_RIDERSHIP
1 200      NA
2 40       NA
3 80       NA
4 4000     21917
5 480      NA
6 676      NA

Even from the first few rows, you can see there is plenty of undesireable embedded textual content, such as the reference link included in `Melbourne[12]`.

In this project, let's only focus on processing the following revelant columns (feel free to process the other columns for more practice):

*   `COUNTRY`: Country name
*   `CITY`: City name
*   `SYSTEM`: Bike-sharing system name
*   `BICYCLES`: Total number of bikes in the system

In [8]:
# Select the four columns
sub_bike_sharing_df <- bike_sharing_df %>% select(COUNTRY, CITY, SYSTEM, BICYCLES)

Let's see the types of the selected columns

In [9]:
sub_bike_sharing_df %>% 
    summarize_all(class) %>%
    gather(variable, class)

  variable class
1 COUNTRY  character
2 CITY     character
3 SYSTEM   character
4 BICYCLES character

They are all interpreted as character columns, but we expect the `BICYCLES` column to be of numeric type. Let's see why it wasn't loaded as a numeric column - possibly some entries contain characters. Let's create a simple function called `find_character` to check that.

In [10]:
# grepl searches a string for non-digital characters, and returns TRUE or FALSE
# if it finds any non-digital characters, then the bicyle column is not purely numeric
find_character <- function(strings) grepl("[^0-9]", strings)

Let's try to find any elements in the `Bicycles` column containing non-numeric characters.

In [11]:
sub_bike_sharing_df %>% 
    select(BICYCLES) %>% 
    filter(find_character(BICYCLES)) %>%
    slice(0:10)

   BICYCLES
1  4115[22]
2  310[59]
3  500[72]
4  [75]
5  180[76]
6  600[77]
7  [78]
8  initially 800 (later 2500)
9  100 (220)
10 370[114]

As you can see, many rows have non-numeric characters, such as `32 (including 6 rollers) [162]` and `1000[253]`. This is actually very common for a table scraped from Wiki when no input validation is enforced.

Later, you will use regular expressions to clean them up.

Next, let's take a look at the other columns, namely `COUNTRY`, `CITY`, and `SYSTEM`, to see if they contain any undesired reference links, such as in `Melbourne[12]`.

In [12]:
# Define a 'reference link' character class, 
# `[A-z0-9]` means at least one character 
# `\\[` and `\\]` means the character is wrapped by [], such as for [12] or [abc]
ref_pattern <- "\\[[A-z0-9]+\\]"
find_reference_pattern <- function(strings) grepl(ref_pattern, strings)

In [13]:
# Check whether the COUNTRY column has any reference links
sub_bike_sharing_df %>% 
    select(COUNTRY) %>% 
    filter(find_reference_pattern(COUNTRY)) %>%
    slice(0:10)

     COUNTRY

Ok, looks like the `COUNTRY` column is clean. Let's check the `CITY` column.

In [14]:
# Check whether the CITY column has any reference links
sub_bike_sharing_df %>% 
    select(CITY) %>% 
    filter(find_reference_pattern(CITY)) %>%
    slice(0:10)

   CITY
1  Melbourne[12]
2  Brisbane[14][15]
3  Lower Austria[18]
4  Namur[19]
5  Brussels[21]
6  Salvador[23]
7  Belo Horizonte[24]
8  Jo<e3>o Pessoa[25]
9  (Pedro de) Toledo[26]
10 Rio de Janeiro[27]

Hmm, looks like the `CITY` column has some reference links to be removed. Next, let's check the `SYSTEM` column.

In [15]:
# Check whether the System column has any reference links
sub_bike_sharing_df %>% 
    select(SYSTEM) %>% 
    filter(find_reference_pattern(SYSTEM)) %>%
    slice(0:10)

  SYSTEM
1 EasyBike[58]
2 4 Gen.[61]
3 3 Gen. SmooveKey[113]
4 3 Gen. Smoove[141][142][143][139]
5 3 Gen. Smoove[179]
6 3 Gen. Smoove[181]
7 3 Gen. Smoove[183]

So the `SYSTEM` column also has some reference links.

After some preliminary investigations, we identified that the `CITY` and `SYSTEM` columns have some undesired reference links, and the `BICYCLES` column has both reference links and some
textual annotations.

Next, you need to use regular expressions to clean up the unexpected reference links and text annotations in numeric values.

# TASK: Remove undesired reference links using regular expressions

*TODO:* Write a custom function using `stringr::str_replace_all` to replace all reference links with an empty character for columns `CITY` and `SYSTEM`

In [16]:
# remove reference link
remove_ref <- function(strings) {
    ref_pattern <- "\\[[A-z0-9]+\\]"
    # Replace all matched substrings with a white space using str_replace_all()
    # result <- 
    str_replace_all(string = strings, 
                              pattern = ref_pattern, 
                              replacement = "")
    # Trim the result if you want
    #str_trim((string = strings), side = "both")
    
    #return(result)
    
}

*TODO:* Use the `dplyr::mutate()` function to apply the `remove_ref` function to the `CITY` and `SYSTEM` columns

In [17]:
result <- sub_bike_sharing_df %>% mutate(CITY=remove_ref(CITY), SYSTEM=remove_ref(SYSTEM))
result

    COUNTRY       CITY
1   Albania       Tirana
2   Argentina     Mendoza
3   Argentina     San Lorenzo, Santa Fe
4   Argentina     Buenos Aires
5   Argentina     Rosario
6   Australia     Melbourne
7   Australia     Brisbane
8   Australia     Melbourne
9   Australia     Sydney
10  Australia     Sydney
11  Australia     Sydney
12  Austria       Vienna
13  Austria       Burgenland
14  Austria       Lower Austria
15  Austria       Salzburg
16  Austria       Vienna
17  Austria       Vorarlberg
18  Bangladesh    Dhaka
19  Belgium       Namur
20  Belgium       Antwerp
21  Belgium       Brussels
22  Brazil        Salvador
23  Brazil        Belo Horizonte
24  Brazil        Fortaleza
25  Brazil        Jo<U+FFFD>o Pessoa
26  Brazil        (Pedro de) Toledo
27  Brazil        Rio de Janeiro
28  Brazil        S<U+FFFD>o Paulo
29  Brazil        Sorocaba
30  Bulgaria      Burgas
... ...           ...
451 United States Fullerton, California
452 United States Hoboken, New Jersey
453 United States Houston, Texas
454 United States Jersey City
455 United States Kailua, Hawaii
456 United States Kansas City, Missouri
457 United States Kona District, Hawaii
458 United States Lansing, MI
459 United States Lincoln, Nebraska
460 United States Los Angeles
461 United States Madison, Wisconsin
462 United States Milwaukee, Wisconsin
463 United States Minneapolis, Minnesota and Saint Paul, Minnesota
464 United States Oklahoma City, Oklahoma
465 United States Omaha, Nebraska
466 United States Philadelphia, Pennsylvania
467 United States Phoenix, Arizona
468 United States Pittsburgh, Pennsylvania
469 United States Portland, Oregon
470 United States Portland, Oregon
471 United States Salt Lake City, Utah
472 United States San Antonio, Texas
473 United States San Diego
474 United States San Francisco Bay Area
475 United States San Francisco Bay Area
476 United States Santa Monica, California
477 United States Savannah, Georgia
478 United States Seattle, Washington
479 United States Spartanburg, South Carolina
480 United States St. Paul
    SYSTEM                              BICYCLES
1   NA                                  200
2   NA                                  40
3   Biciudad                            80
4   Serttel Brasil                      4000
5   NA                                  480
6   PBSC & 8D                           676
7   3 Gen. Cyclocity                    2000
8   4 Gen. oBike                        1250
9   4 Gen. oBike                        1250
10  4 Gen. Ofo                          600
11  Reddy Go                            2000
12  3 Gen. Cyclocity                    1500
13  3 Gen. nextbike                     NA
14  3 Gen. nextbike                     1300
15  3 Gen. nextbike                     NA
16  2 Gen.                              1500
17  3 Gen. nextbike                     70
18  JoBike                              300
19  3 Gen. Cyclocity                    200
20  3 Gen. Clear CC                     3600
21  3 Gen. Cyclocity                    4115[22]
22  tembici                             NA
23  Mobilicidade                        400
24  Mobilicidade                        800
25  Mobilicidade                        20
26  Toopedalando                        60
27  tembici                             300
28  tembici                             600
29  tembici                             120
30  Mobilicidade                        120
... ...                                 ...
451 Bike Nation                         75
452 3 Gen. nextbike                     250
453 3 Gen. B-Cycle                      400
454 8D                                  500
455 3 Gen. B-Cycle                      12
456 3 Gen. B-Cycle                      300
457 PBSC                                30
458 A2B Bikeshare                       20
459 3 Gen. B-Cycle                      100
460 3 Gen. B-Cycle                      1000
461 3 Gen. B-Cycle                      350
462 3 Gen. B-Cycle                      400+
463 PBSC & 8D                           1833
464 Spokies                             100
465 3 Gen. B-Cycle                      35
466 3 Gen. B-Cycle                      1000
467 3 Gen. CycleHop and Social Bicycles 500
468 3 Gen. nextbike                     500
469 NA                                  1000
470 1 Gen. WhiteBikes                   1000
471 3 Gen. B-Cycle                      100
472 3 Gen. B-Cycle                      600
473 DecoBike                            1800
474 NA                                  NA
475 8D                                  7000
476 3 Gen. CycleHop and Social Bicycles 500
477 3 Gen. B-Cycle                      16
478 8D                                  500
479 3 Gen. B-Cycle                      40
480 1 Gen. w/ BikeCard                  NA

*TODO:* Use the following code to check whether all reference links are removed:

In [18]:
result %>% 
    select(CITY, SYSTEM, BICYCLES) %>% 
    filter(find_reference_pattern(CITY) | find_reference_pattern(SYSTEM) | find_reference_pattern(BICYCLES))

   CITY
1  Brussels
2  Limassol (& Agios Dometios, Aglandjia, Dali, Engomi, Latsia, Pallouriotissa, Strovolos)
3  Prague
4  Prague 7
5  Prostejov
6  Ostrava
7  Fars<U+FFFD>
8  Batumi
9  Darmstadt
10 Corfu
11 Budapest
12 Gyor
13 Kaposv<U+FFFD>r
14 Milan
15 Towns and cities in the Netherlands: all over the country, mainly at railway stations
16 Kazan
17 Bratislava
18 Ko<U+FFFD>ice
19 Moldava nad Bodvou
20 Poprad
21 <U+FFFD>ilina
22 Changwon
23 Glasgow (Scotland)
24 Edinburgh (Scotland)
25 Liverpool (England)
   SYSTEM                          BICYCLES
1  3 Gen. Cyclocity                4115[22]
2  3 Gen. Smoove                   310[59]
3  NA                              500[72]
4  4 Gen. Ofo                      [75]
5  3 Gen. nextbike                 180[76]
6  3 Gen. nextbike                 600[77]
7  2 Gen                           [78]
8  3 Gen. SmooveKey                370[114]
9  3 & 4 Gen. Call a Bike flex     350 [125]
10 3 Gen. Smoove                   100[58]
11 3 Gen.                          1526[159]
12 NA                              180[161]
13 NA                              32 (including 6 rollers)  [162]
14 3 Gen. Clear CC                 4650 (1000 E)[174]
15 OV-Fiets/Nederlandse Spoorwegen 21700 [187]
16 3 Gen. Cyclocity                120[206]
17 NA                              400[208]
18 NA                              200[212]
19 NA                              25[214]
20 NA                              85[217]
21 nextbike                        120[221]
22 NA                              2348[230]
23 3 Gen. nextbike                 400[251]
24 Urban Sharing                   500[252]
25 NA                              1000[253]

# TASK: Extract the numeric value using regular expressions

*TODO:* Write a custom function using `stringr::str_extract` to extract the first digital substring match and convert it into numeric type For example, extract the value '32' from `32 (including 6 rollers) [162]`.

In [19]:
# Extract the first number
extract_num <- function(columns){
    # Define a digital pattern
    digital_pattern <- "[0-9]+"
    # Find the first match using str_extract
    str_extract(columns, digital_pattern)
    # Convert the result to numeric using the as.numeric() function
    as.numeric(columns)
}

*TODO:* Use the `dplyr::mutate()` function to apply `extract_num` on the `BICYCLES` column

In [20]:
# Use the mutate() function on the BICYCLES column
result2 <- result %>% mutate(BICYCLES=extract_num(BICYCLES))
result2

Warning message in extract_num(BICYCLES):
"NAs introducidos por coerción"

    COUNTRY       CITY
1   Albania       Tirana
2   Argentina     Mendoza
3   Argentina     San Lorenzo, Santa Fe
4   Argentina     Buenos Aires
5   Argentina     Rosario
6   Australia     Melbourne
7   Australia     Brisbane
8   Australia     Melbourne
9   Australia     Sydney
10  Australia     Sydney
11  Australia     Sydney
12  Austria       Vienna
13  Austria       Burgenland
14  Austria       Lower Austria
15  Austria       Salzburg
16  Austria       Vienna
17  Austria       Vorarlberg
18  Bangladesh    Dhaka
19  Belgium       Namur
20  Belgium       Antwerp
21  Belgium       Brussels
22  Brazil        Salvador
23  Brazil        Belo Horizonte
24  Brazil        Fortaleza
25  Brazil        Jo<U+FFFD>o Pessoa
26  Brazil        (Pedro de) Toledo
27  Brazil        Rio de Janeiro
28  Brazil        S<U+FFFD>o Paulo
29  Brazil        Sorocaba
30  Bulgaria      Burgas
... ...           ...
451 United States Fullerton, California
452 United States Hoboken, New Jersey
453 United States Houston, Texas
454 United States Jersey City
455 United States Kailua, Hawaii
456 United States Kansas City, Missouri
457 United States Kona District, Hawaii
458 United States Lansing, MI
459 United States Lincoln, Nebraska
460 United States Los Angeles
461 United States Madison, Wisconsin
462 United States Milwaukee, Wisconsin
463 United States Minneapolis, Minnesota and Saint Paul, Minnesota
464 United States Oklahoma City, Oklahoma
465 United States Omaha, Nebraska
466 United States Philadelphia, Pennsylvania
467 United States Phoenix, Arizona
468 United States Pittsburgh, Pennsylvania
469 United States Portland, Oregon
470 United States Portland, Oregon
471 United States Salt Lake City, Utah
472 United States San Antonio, Texas
473 United States San Diego
474 United States San Francisco Bay Area
475 United States San Francisco Bay Area
476 United States Santa Monica, California
477 United States Savannah, Georgia
478 United States Seattle, Washington
479 United States Spartanburg, South Carolina
480 United States St. Paul
    SYSTEM                              BICYCLES
1   NA                                   200
2   NA                                    40
3   Biciudad                              80
4   Serttel Brasil                      4000
5   NA                                   480
6   PBSC & 8D                            676
7   3 Gen. Cyclocity                    2000
8   4 Gen. oBike                        1250
9   4 Gen. oBike                        1250
10  4 Gen. Ofo                           600
11  Reddy Go                            2000
12  3 Gen. Cyclocity                    1500
13  3 Gen. nextbike                       NA
14  3 Gen. nextbike                     1300
15  3 Gen. nextbike                       NA
16  2 Gen.                              1500
17  3 Gen. nextbike                       70
18  JoBike                               300
19  3 Gen. Cyclocity                     200
20  3 Gen. Clear CC                     3600
21  3 Gen. Cyclocity                      NA
22  tembici                               NA
23  Mobilicidade                         400
24  Mobilicidade                         800
25  Mobilicidade                          20
26  Toopedalando                          60
27  tembici                              300
28  tembici                              600
29  tembici                              120
30  Mobilicidade                         120
... ...                                 ...
451 Bike Nation                           75
452 3 Gen. nextbike                      250
453 3 Gen. B-Cycle                       400
454 8D                                   500
455 3 Gen. B-Cycle                        12
456 3 Gen. B-Cycle                       300
457 PBSC                                  30
458 A2B Bikeshare                         20
459 3 Gen. B-Cycle                       100
460 3 Gen. B-Cycle                      1000
461 3 Gen. B-Cycle                       350
462 3 Gen. B-Cycle                        NA
463 PBSC & 8D                           1833
464 Spokies                              100
465 3 Gen. B-Cycle                        35
466 3 Gen. B-Cycle                      1000
467 3 Gen. CycleHop and Social Bicycles  500
468 3 Gen. nextbike                      500
469 NA                                  1000
470 1 Gen. WhiteBikes                   1000
471 3 Gen. B-Cycle                       100
472 3 Gen. B-Cycle                       600
473 DecoBike                            1800
474 NA                                    NA
475 8D                                  7000
476 3 Gen. CycleHop and Social Bicycles  500
477 3 Gen. B-Cycle                        16
478 8D                                   500
479 3 Gen. B-Cycle                        40
480 1 Gen. w/ BikeCard                    NA

*TODO:* Use the summary function to check the descriptive statistics of the numeric `BICYCLES` column

In [21]:
summary(result2$BICYCLES)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.    NA's
    5.0   100.0   335.5  2052.3  1468.2 78000.0     104

*TODO:* Write the cleaned bike-sharing systems dataset into a csv file called `bike_sharing_systems.csv`

In [22]:
# Write dataset to `bike_sharing_systems.csv`
write.csv(result2, "bike_sharing_systems.csv")

# References:

If you need to refresh your memory about regular expressions, please refer to this good Regular Expression cheat sheet:

<a href="https://www.rstudio.com/wp-content/uploads/2016/09/RegExCheatsheet.pdf?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkRP0321ENSkillsNetwork25371262-2021-01-01" target="_blank">Basic Regular Expressions in R</a>

# Next Steps

Great! Now you have cleaned up the bike-sharing system dataset using regular expressions. Next, you will use other `tidyverse` functions to perform data wrangling on the bike-sharing demand dataset.

## Authors

<a href="https://www.linkedin.com/in/yan-luo-96288783/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkRP0321ENSkillsNetwork25371262-2021-01-01" target="_blank">Yan Luo</a>

### Other Contributors

Jeff Grossman

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By | Change Description           |
| ----------------- | ------- | ---------- | ---------------------------- |
| 2021-04-08        | 1.0     | Yan        | Initial version created      |
|                   |         |            |                              |
|                   |         |            |                              |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>